@use '../styles/variables' as *;

html, body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased; // Deixa a fonte mais suave em Mac/iOS
  -moz-osx-font-smoothing: grayscale;
}

// Garantir que o root do Angular ocupe toda a altura
app-root {
  display: block;
  height: 100%;
  width: 100%;
}

h1, h2, h3, .brand-info h1 {
  font-family: $font-family-title;
  letter-spacing: -0.02em;
}
